{{navbar-component}}
{{#if model.content}}
  <h3>Choose a category</h3>
  <ul>
    {{#each model as |category|}}
      <li>{{#link-to "new-listing" category.id}}{{category.title}}{{/link-to}}</li>
    {{/each}}
  </ul>

{{else}}

  <h3>New Listing in {{model.title}}</h3>
  <form>
    <label for="title">posting title</label>
    {{input value=title id="title"}}
    <label for="price">price</label>
    {{input value=price id="price"}}
    <label for="location">location</label>
    {{input value=location id="location"}}
    <br>
    <br>
    <label for="description">posting body</label>
    <br>
    {{textarea value=description id="description"}}
    <br>
    <br>
    <label for="photoURL">photo url</label>
    {{input value=photoURL id="photoURL"}}
    <br>
    <br>
    <button {{action 'save' model}}>Submit</button>
  </form>
{{/if}}
